
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url(reset.css);
@import url(style.css);


* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:black;
    
}

:root {
    --main-color:#FF8831;
}

button {
    color: #fff;
}


.join_container{
    width: 788px;
    margin: 0 auto;
}


.logo {
    margin: 100px 0 30px}

.join_container h1 {
    text-align: center;
}

join_container input{
    width: 174px;
    background-color: #888;
}

.ingo_top {
    display: flex;
    justify-content: space-around;
    padding: 26px 0;
    border-bottom: 1px solid;
    font-weight: 400;
    font-size: 13px;
}

.ingo_top .active{
    position: relative;
    color: var(--main-color);
}

.ingo_top .active:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 186px;
    background-color: #FF8831;
    left: 0;
    transform: translateX(-25%);
    bottom: -27px;

}

.join_container strong {
    display: block;
    font-weight: 500;
    padding: 30px 0 8px 0;

}

.join_container p{
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    
}

/* -------------------»ó´Ü----------------------- */


.Certified {
    width: 660px;
    margin: 0 auto;
}

.Certified h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 32px 0 8px;
}

.Certified p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}


.Certified_box {
    display: flex;
}

.Certified_box button {
    width: 320px;
    height: 247px;
    border: none;
    margin-right: 20px;
    background-image: url(./images/phone.png);
    background-color: #fff;
    border: 1px solid #888;

}
.Certified_box button:last-child{
    margin-right: 0;

}

.Certified p {
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 18px;
} 