@charset "EUC-KR";

* {
	font-family: 'Noto Sans KR', sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0
}

html {
	font-size: 12px;
	font-weight: 400
}

body {
	color: #3b3b3b
}

div, ul, li {
	font-size: 1.4rem
}

button {
	cursor: pointer;
	background-color: transparent;
	color: #3b3b3b
}

img {
	vertical-align: middle;
	border: 0;
	max-width: 100%
}

#hr {
	border-top: solid 1px #C3BCBC;
}

#benefit {
	border-bottom: solid 1px #efefef;
	margin: 5% 0
}

#benefit>p {
	padding: 4% 0;
	font-weight: 700;
	border-top: solid 1px #efefef
}

#benefit ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 2.5%
}

#benefit ul li>p {
	font-weight: 300;
	color: #000
}

#benefit ul li>p:first-child {
	width: 15%
}

#item_detail_right {
	width: 49%;
	float: right;
	margin-top: 2%
}

#item_detail_right .item_txt>p {
	font-size: 1.5rem;
	color: #707070
}

#item_detail_right .item_txt h2 {
	width: 80%;
	font-size: 2.3rem;
	font-weight: 700;
	float: left;
	margin-top: 3%
}

#item {
	position: relative;
	width: 1280px;
	margin-left: 16%;
	margin-top: 30px;
}

#item .item_detail {
	width: 100%;
	margin: 0 auto;
	padding: 0 3%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 4%
}

#item .item_detail::after {
	content: "";
	display: block;
	clear: both
}

#item .item_detail .item_detail_left {
	width: 47%;
	float: left
}

#item .item_detail .item_detail_left li {
	margin: 4% 0
}

#item .item_detail .item_detail_left li img {
	display: block;
	width: 560px
}

#item .item_detail .item_detail_left li:first-child {
	margin-bottom: 15%
}

#item .item_detail .item_detail_left {
	width: 47%;
	float: left;
}

#order_item {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 5px;
	margin-top: 5%
}

#order_item button {
	display: block;
	width: 100%;
	border: solid 1px #ff8831;
	border-radius: 5px;
	font-size: 1.8rem;
	background-color: #fff;
	padding: 2%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

#order_item button:last-child {
	background-color: #ff8831
}

#order_item button:last-child a {
	color: #fff
}

#order_item button a {
	color: #ff8831;
	display: block;
	width: 250px
}

.starImg {
	width: 30px;
	height: 30px;
}

#item_description {
	position: relative
}

#item_description .item_description_tab {
	width: 100%;
	background-color: #fff;
	border-top: solid 1px #eaeaea;
	border-bottom: solid 1px #eaeaea
}

#item_description .item_description_tab .tabs-nav {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	align-items: center
}

#item_description .item_description_tab .tabs-nav li {
	width: 50%;
	font-size: 1.5rem;
	font-weight: 700;
	color: #3b3b3b;
	text-align: center;
	padding: 1.3% 0
}

#item_description .item_description_tab .tabs-nav li:hover a {
	border-bottom: solid 2px #ff8831;
	color: #ff8831
}

#item_description .item_description_tab .tabs-nav li a {
	cursor: pointer
}