@charset "EUC-KR";

body {
	min-width: 1081px;
	margin: 0 auto;
}

.div_clear{
	clear: both;
}

#wrap_search{
	border: 1px solid red;
	width: auto;
	margin: 0 auto;
}

#category_wrap {
	border: 1px solid black;
	margin: 0 auto;
	width: 1081px;
	height: auto;
	vertical-align: middle;
	margin-top: 10px;
}
#category_list {
	border: 1px solid black;
	margin: 0 auto;
	width: 1081px;
	height: auto;
}

#category_menu {
	text-align: center;	
}

#category_menu_ul>li{
	border: 1px solid red;
	float: left;	
	width: 88px;
	height: 30px;		
	color: red;
	padding-top: 8px;
}






























