@charset "UTF-8";


header {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #fff;
    
}

.header_top {
    padding: 0 40px;
    height: 40px;
   
    position: relative;
    
}

.border_bottom {
    border-bottom: 1px solid #C3BCBC;
}

.nav_top {
    display: flex;
    justify-content: flex-end;
    line-height: 40px;
    
    color: #333;
    
}


.nav_top li {
    padding-left: 20px;
    font-size: 13px
}

.header_bottom {
   position: relative;
}

.logo {
    line-height: 60px;
    margin: 0 40px;
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;;
    display: inline-block;
}

.header_bottom .nav_bottom {
 
    line-height: 60px;
    float: right;
    margin: 0 40px;
}

.header_bottom .view_icon {
    display: inline-block;
    vertical-align: middle;
    padding-left:14px;
   
}

.nav_bottom li {
    font-size: 16px;
    font-weight: 00;
    color: #000;
    display: inline-block;
    padding-left: 20px;
   
    
    
}

main {
    height: 300px;
    background-color: teal;
    width: 100%;
    
}

section {
    width: 100%;
    height: 300px;
    background-color: salmon;
}


.sec2{
    width: 100%;
    height: 300px;
    background-color: skyblue;
}

.sec1{
    width: 100%;
    height: 300px;
    background-color: teal;
}

